.light-logo {
    width: 100px;
}
.footer {
    clear: both;
    position: relative;
}
.user {
    width: 30px;
}
.image {
    height: 100px;
}
.notification {
    color: red;
}
.menu-notification {
    width: 300px;
    height: 400px;
    overflow: scroll;
}
.not_seen{
    color: red;
}
.watched{
    color: green;
}

